includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$function of function call_user_func expects callable#'
    level: 'max'
    paths:
        - 'Client'
        - 'DataCollector'
        - 'Event'
        - 'Exception'
        - 'Listener'
        - 'Metric'
        #- 'Tests'
