includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    bootstrapFiles:
       - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: 'max'
    paths:
        - 'Client'
        - 'DataCollector'
        - 'Event'
        - 'Exception'
        - 'Listener'
        - 'Metric'
        - 'Tests'
    ignoreErrors:
        # Symfony 4 compatibility code is seen as an error on symfony 6
        - message: '#Call to an undefined method Symfony\\Component\\HttpKernel\\Event\\[A-Za-z]+Event::isMasterRequest\(\)\.#'
          path: Listener/*
          count: 2
