includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    paths:
        - 'Client'
        - 'DataCollector'
        - 'Event'
        - 'Exception'
        - 'Listener'
        - 'Metric'
        - 'Tests'
    level: '5'
